* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(50deg,slateblue 0,darkturquoise 100%);
  min-height: 100vh;
  font-family: roboto;
}

#gameBrower {
  background-color: #fff;
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

th,
td {
  padding: 1em;
}
tr {
  border-bottom: 0.1em#0000005e solid;
}
#games td {
  text-align: center;
}
#games tbody > tr:hover {
  background-color: #00000010;
}
#games tbody > tr {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}

input {
  border-bottom: 0.1em #000 solid;
  padding: 0.5em;
  background-color: #0000;
}

#games {
  margin: 1em 0
}
button,
input[type='submit'] {
  background-color: #00000013;
  padding: 0.5em;
  border: none;
}

.configTable tr{
  border: none;
}
.configTable td{
  padding: 0.25em 0.5em;
}
.configTable tr:first-child{
  text-align: right;

}