* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  background: #fff;
  min-height: 100vh;
  font-family: roboto;
  font-size: 16px;
  color: #202124; 
}


#signIn,
#signUp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  max-width: 80vw;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 0.5em;
  border: 0.1em #dadce0 solid;
  padding: 2em 2em 1.5em;
}

.button{
  font: inherit;
  font-size: 0.9em;
  padding: 0.8em 1.5em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.02em;
  background-color: #1a73e8;
  border-radius: 0.25em;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.button:hover{
  box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45),0 1px 3px 1px rgba(66,133,244,0.3)
}

.button.light{
  color: #1a73e8;
  background-color: transparent;
  box-shadow: none;
}

.button.light:hover{
  background-color: #1b74e80d;
}
.button.light:focus{
  background-color: #1b74e81a;
}






.champMono {
  font: inherit;
  border: 0.1em #dadce0 solid;
  padding: 0.5em 0.7em;
  border-radius: 0.25em;
  color: inherit;
}

.champMono.fillLine {
  width: 100%;
}

.champMono:focus {
  border-color: #1a73e8;
}
.champMono:invalid,
.champMono.invalid{
  border-color: #e8321a;
  box-shadow: none;
}

.champMono::placeholder {
  font-size: 0.9em;
  color: #5f6368;
  opacity: 1;
}


.inputInvalidMessage {
  display: inline-block;
  color: #e8321a;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}



.vSpacer {
  min-height: 1.5em;
}

.hSpacer {
  width: 1.5em;
  display: inline-block;
}
